* {
    margin: 0;
    padding: 0;
}

.todoapp {
    margin: auto;
    margin-top: 10%;
    width: 50%;
}

.todoapp .todoapp__header,
.todoapp .todoapp__input {
    width: fit-content;
    margin: auto;
}

.todoapp .todoapp__input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.todoapp .todoapp__tasklist {
    list-style: none;
}

.item {
    width: 180px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
    /* background-image: linear-gradient(to bottom right, red, yellow); */
}

.item .item__dlt,
.item .item__edit {
    position: relative;
    float: right;
    padding: 4px;
}